body {
  padding-top: 50px;
  background:gray;
}
.starter-template {
  padding: 300px 15px;
  text-align: center;
}
.profile-template {
  padding: 40px 15px;
  float:left;
  width:20%;
  /*1000px;*/
  height: 100%;   
  background:#ADD8E6
}
.profile_details {
	float:left;
	/*height:228px;
	width:304px*/
	height:100%;
	width:100%;
}
.competors {
	float:right;
	width:80%;
	/*height:950px;*/
	height:100%;
	text-align: center;
}
.select-competors {
	padding: 5px 15px;
	width:25%;
	/*height:950px;*/
	height:100%;
	float:left
}
.feature {
	height:70px;
	width:100%;

}
.feat_label {
	float:left;
	font-size:20px;
	width:50%;
}

.form-control {
	width:50%; 
	float:right;
}
.ulist {
	width:75%;
	height:100%;
	float:right;
	position:relative;
}
.user_comp {
	float:left;
	width:30%;
	height:100%;
}
.user_list {
	width:100%;
	height:600px;
	overflow-y:auto;
}


.Start_comp {
	width:100%;
	height:10%;
}
.competetion {
	float:right;
	width:70%;
	height:95%;
	padding: 10px 15px;
}
#gen_stream {
	position:center;
	width:40%;
	height:10%;
	font-size: 20px;
	background:green;
}

.box1 {
	width:100%; 
	height:50%; 
	border-style: outset;
}

.box2 {
	width:100%; 
	height:50%; 
	border-style: outset;
}

