<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fit Compete</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">FIT COMPETE</a>
        </div>
      </div>
    </nav>

    <div class="container" style="float:left;width:100%">

      <div class="profile-template">
        
        <img src="../static/profile_picture.png" style="width:304px;height:228px;">
        <div class="profile_details">
          <table class="table ">    
            <tbody>
              <tr>
                <th>user id </th>
                <td>{{user_id}}</td>
              </tr>
              <tr>
                <th>bmi</th>
                <td>{{bmi}}</td>
              </tr>
              <tr>
                <th>calories</th>
                <td>{{calories}}</td>
              </tr>
              <tr>
                <th>calories out rate </th>
                <td>{{cr}}</td>
              </tr>
              <tr>
                <th>fat</th>
                <td>{{fat}}</td>
              </tr>
              <tr>
                <th>floors</th>
                <td>{{floors}}</td>
              </tr>
              <tr>
                <th>heart rate</th>
                <td>{{hr}}</td>
              </tr>
              <tr>
                <th>period</th>
                <td>{{period}}</td>
              </tr>
              <tr>
                <th>speed</th>
                <td>{{speed}}</td>
              </tr>
              <tr>
                <th>steps</th>
                <td>{{steps}}</td>
              </tr>
            </tbody>
          </table>
        </div>       
      </div> <!-- end of profile-template -->

      <div class="competors">
        
        <div class="select-competors">
          <form action="." method="POST">
          <div class="feature">
            <p class="feat_label">BMI</p>
            <select class="form-control" id="Bmi" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Calories</p>
            <select class="form-control" id="Calories" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Calories_rate</p>
            <select class="form-control" id="CR" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Fat</p>
            <select class="form-control" id="Fat" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Floors</p>
            <select class="form-control" id="Floors" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Heart Rate</p>
            <select class="form-control" id="HR" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Period</p>
            <select class="form-control" id="Period" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Speed</p>
            <select class="form-control" id="Speed" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <div class="feature">
            <p class="feat_label">Steps</p>
            <select class="form-control" id="Steps" >
              <option>None</option>
              <option>H</option>
              <option>M</option>
              <option>L</option>
            </select>
          </div>
          <input type="submit" class="btn btn-info" id="profile-match" value="Submit Button">
        </form>
        </div>
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
